header.masterhead(style="height: 500px ;background-image: url('https://picsum.photos/id/237/1200/600')")
	div(class="container position-relative px-4 px-lg-5")
		div(class="row gx-4 gx-lg-5 justify-content-center")
			div.site-heading
				h1 Clean Blog
				span.subheading A Blog Theme by start bootstrap 